<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="background-color: #2a2d30; width: 230px;">
    <div class="title" style="margin-left: 20px;margin-top: 10px; height: 40px;" (click)="openIndustry()">
    <img src="assets\icons8-youtube.svg"><span  style="color: white; font-size: 20px;">VideoTube<sup
      style="font-size: 12px;">IN</sup></span>
    </div>
    <hr style="color: white;margin-top: 20px;"> 

    <div (click)="openIndustry()" class="sides">
      <mat-icon class="icons">home</mat-icon>
      <span class="side-text">Industry</span>
    </div>
    <hr style="margin-top: none; color: white;">
    <div (click)="openEdtech()" class="sides" >
      <mat-icon class="icons">explore</mat-icon>
      <span class="side-text">Edtech</span>
    </div>
    <hr style="margin-top: none; color: white;">
  </mat-drawer>
 
   <mat-drawer-content style="background-color: #2a2d30;">
    <mat-toolbar style="background-color: #2a2d30; margin-bottom: none;">
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" class="signin">
        <img style="height:30px; color:#2083d4;" src="/assets/user-icon.png">Profile</button>
    </mat-toolbar>
    <hr style="margin-top: none; color: white;">

   <router-outlet></router-outlet>
   </mat-drawer-content>
</mat-drawer-container>