<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="background-color: #2a2d30; width: 260px;">
    <button style="background-color: transparent; border: none;" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon style="margin-top: 7px; margin-right:5px;">menu</mat-icon>
    </button>
    <img src="assets\icons8-youtube.svg"><span style="color: white;">VideoTube<sup
      style="font-size: small;">IN</sup></span>
    <hr style="color: white;margin-top: 20px;"> 

    <div class="sides">
      <mat-icon class="icons">home</mat-icon>
      <span class="side-text">Home</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">explore</mat-icon>
      <span class="side-text">Explore</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">stay_current_portrait</mat-icon>
      <span class="side-text">Shorts</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">subscriptions</mat-icon>
      <span class="side-text">Subscriptions</span>
    </div>

    <hr style="color: white;">

    <div class="sides" >
      <mat-icon class="icons">video_library</mat-icon>
      <span class="side-text">Library</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">history</mat-icon>
      <span class="side-text">History</span>
    </div>

    <hr style="color: white;">

    <div class="sides" >
      <mat-icon class="icons">library_music</mat-icon>
      <span class="side-text">Music</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">rowing</mat-icon>
      <span class="side-text">Sports</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">games</mat-icon>
      <span class="side-text">Gaming</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">movie</mat-icon>
      <span class="side-text">Movies</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">chrome_reader_mode</mat-icon>
      <span class="side-text">News</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">live_tv</mat-icon>
      <span class="side-text">Live</span>
    </div>
    <div class="sides" >
      <mat-icon class="icons">shopping_basket</mat-icon>
      <span class="side-text">Fashion & Beauty</span>
    </div>
  </mat-drawer>
  <style>
    .vl{
      border-left: 5px solid white;
      height: 500px;
    }
  </style>
   <mat-drawer-content style="background-color: #323538;">
    <mat-toolbar style="background-color: #323538; margin-bottom: none;">
      
      <div class="input-group" style="width: 40%; margin-left: 25%;">
        <input type="text" class="form-control search" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"><mat-icon>search</mat-icon></span>
      </div>

      <span class="example-spacer"></span>
      <button mat-icon-button style="background-color: transparent; border: none;" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon style="color: white;">favorite</mat-icon>
      </button>
      <button mat-icon-button style="background-color: transparent; border: none;" class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon style="color: white;">share</mat-icon>
      </button>
    </mat-toolbar>
    <hr style="margin-top: none;">
    <div style="margin-left: 50px !important;">
      <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
        <mat-chip class="example-box" *ngFor="let vegetable of chips">
          {{vegetable.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <hr style="margin-bottom: none;">
    <app-videoplayer></app-videoplayer>
   </mat-drawer-content>
  
</mat-drawer-container>