<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="background-color: #2a2d30; width: 230px;">
    <div class="title" (click)="openIndustry()">
      <img class="logo" src="/assets/phi-full-300.png" alt="Phibonacci">
      </div>
    <hr style="color: white;"> 

    <div (click)="openIndustry()" class="sides">
      <mat-icon class="icons">home</mat-icon>
      <span class="side-text">Industry &nbsp; 4.0</span>
    </div>
    <hr style="margin-top: none; color: white;">
    <div (click)="openEdtech()" class="sides" >
      <mat-icon class="icons">explore</mat-icon>
      <span class="side-text">EdTech</span>
    </div>
    <hr style="margin-top: none; color: white;">
  </mat-drawer>
 
   <mat-drawer-content style="background-color: #2a2d30;">
    <mat-toolbar style="background-color: #2a2d30; margin-bottom: none;">
      <span class="example-spacer"></span>
      
    </mat-toolbar>
    <hr style="margin-top: none; color: white;">
    <router-outlet></router-outlet>
   </mat-drawer-content>
</mat-drawer-container>